.header {
  background-color: #43e895;
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
}
